.nasaImage{
    width:40%;
    height:50%;
    border-radius: 50%;
    border: 2px solid #333; 
}
.spotLightText{
    font-family: Arial, sans-serif;
}

.nasaImageDiv{
margin-top: 2%;
margin-left: 5%;
height: 50%;
}

.name{
margin-left: 18%;
font-weight: bold;
}

.imageAndName{
    display: flex;
    flex-direction: column;
}

.astronomyImage{
    width:50%;
    height:50%;
    float: right;
    border-radius: 5px; /* sets the border radius to 10 pixels */
    border: 2px solid #333; /* sets the border to 2 pixels wide and #333 color */
  
}

.Header{
    display: flex;
    flex-direction: row;
}

.astronomyImageDiv{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}