.item-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
.item {
  width: 100%;
  height: 100%;
}
.loader {
  display: block;
}

.shimmer {
  height: 50%;
  width: 100%;
}
