.item-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 30px;
  overflow: auto;
  margin: 2%;
}
.item {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.loader {
  display: flex;
  justify-content: center;
}

.shimmer {
  height: 200px;
  width: 400px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.5) 50%, transparent 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  margin: 10px;
}
